*{
    font-family: "Inter", sans-serif;
}
.gradient-btn{
  background: linear-gradient(90deg,#8b5cf6,#ec4899);
  padding:10px 24px;
  border-radius:999px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.gradient-btn:hover{
    background: linear-gradient(90deg,#ec4899,#8b5cf6);
    transform: scale(1.5);
}
.banner-bg{
  background:url("./assets/hero-bg.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  
}

.stat-box{
  background:#170e2d;
  text-align: center;
  padding:24px;
  border-radius:14px;


  
  
}

.stat-box h3{
  font-size:28px;
  color: rgb(0, 128, 43);
  font-weight:bold;

}
/* WHY CHOOSE  SECTION  */
.grid-container-parent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "premium"
    "mobile"
    "community"
    "exclusive"
    "rich";

}
.cardPremium{
 grid-area: premium;
 padding-top: 60px;
}
.cardMobile{
    grid-area: mobile;
}
.cardCommunity{
    grid-area: community;
}
.cardExclusive{
    grid-area: exclusive;
}
.cardRich{
    grid-area: rich;
}
.grid-container-parent > div {
   background: rgba(35, 14, 61, 1);
  padding: 40px;
  border-radius: 40px;
  margin: 7px;
  justify-content: center;
}
/* footer design */
.footer-container {
  background-image: url("./assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 80px 20px;

}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}


.footer-logo {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

.footer-logo span {
  background: linear-gradient(90deg, #8b5cf6, #ec4899);
  -webkit-background-clip: text;
  color: transparent;
}


.footer-icons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px 32px;
}

.icon-item {
  display:flex;
  align-items: center;
  gap: 8px;
  opacity: 0.7;
}

.icon-item img {
  width: 20px;
  height: 20px;
}


.footer-copy {
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}



















/* reponsive design */

@media (max-width: 640px) {
  .footer-container {
    background-size:contain;
    padding-top: 100px;
    padding-bottom: 100px;
   
    

  }
}

@media (min-width: 1024px) {
  .grid-container-parent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "premium  mobile     mobile"
      "premium  community  community"
      "exclusive exclusive rich";
  }
  .footer-container {
    padding: 120px 20px;
  }

  .footer-icons {
    grid-template-columns: repeat(4, auto);
  }

  .footer-logo {
    font-size: 56px;
  }
 
}



