
.gradient-btn{
  background: linear-gradient(90deg,#8b5cf6,#ec4899);
  padding:10px 24px;
  border-radius:999px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.gradient-btn:hover{
    background: linear-gradient(90deg,#ec4899,#8b5cf6);
    transform: scale(1.5);
}
.banner-bg{
  background:url("./assets/hero-bg.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  
}
